#Logo {
  width: 100%;
  padding: 1%;
  margin-top: 3%;
  margin-left: 2%;
  color: white;
}

#Logo .img {
  float: left;

  width: 96px; height: 96px;
  background-size: 96px;

  background-repeat: no-repeat;
  background-image: url('../../assets/logo.png');
}

#Logo #title {
  font-size: 5em;
}

@media screen and (max-width: 712px) and (max-width: 900px) {
  #Logo{
    position: relative;
    top: 40px;
  }
}

@media screen and (max-width: 584px) and (max-width: 712px) {
  #Logo #title {
    position: relative;
    top: 15px;
    left: 25px;

    font-size: 1.6em;
  }

  #Logo .img{
    width: 0px;
    height: 0px;
    background-size: 0px;
  }
}
