body{
  margin: 0;
  padding: 0;
  overflow:hidden;
  font-family: Arial;
  overflow: hidden;
}

.rotation-slow {
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
  }
  @-webkit-keyframes rotate{ to{-webkit-transform: rotate(360deg); } }
  @keyframes         rotate{ to{        transform: rotate(360deg); } }

.rotation-slow:hover { cursor: pointer;
  -webkit-animation: rotate 2.5s linear infinite;
          animation: rotate 2.5s linear infinite;
  }
  @-webkit-keyframes rotate{ to{-webkit-transform: rotate(360deg); } }
  @keyframes         rotate{ to{        transform: rotate(360deg); } }

.rotation-fast {
  -webkit-animation: rotate 2.5s linear infinite;
          animation: rotate 2.5s linear infinite;
  }
  @-webkit-keyframes rotate{ to{-webkit-transform: rotate(360deg); } }
  @keyframes         rotate{ to{        transform: rotate(360deg); } }

.rotation-fast:hover { cursor: pointer;
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
  }
  @-webkit-keyframes rotate{ to{-webkit-transform: rotate(360deg); } }
  @keyframes         rotate{ to{        transform: rotate(360deg); } }

.center{
	position: absolute;

	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}
